doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description", content="")
		meta(name="author", content="")
		//- link(rel="icon", href="../../../../favicon.ico")
		title #{title}
		// Bootstrap core CSS
		link(href="../stylesheets/bootstrap.css" rel="stylesheet")
		// Custom styles for this template
		link(href="../stylesheets/styles.css", rel="stylesheet")
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark
			a.navbar-brand(href="/") NodeAuth
			button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
				span.navbar-toggler-icon
			#navbarsExampleDefault.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item(class=(title == 'Members' ? 'active' : ''))
						a.nav-link(href="/")
							| Members 
							span.sr-only (current)
					if !user
						li.nav-item(class=(title == 'Register' ? 'active' : ''))
							a.nav-link(href="/users/register") Register
						li.nav-item(class=(title == 'Login' ? 'active' : ''))
							a.nav-link(href="/users/login") Login
					//- li.nav-item.dropdown
					//- 	a#dropdown01.nav-link.dropdown-toggle(href="http://example.com", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Dropdown
					//- 	.dropdown-menu(aria-labelledby="dropdown01")
					//- 		a.dropdown-item(href="#") Action
					//- 		a.dropdown-item(href="#") Another action
					//- 		a.dropdown-item(href="#") Something else here
				form.form-inline.my-2.my-lg-0
					input.form-control.mr-sm-2(type="text", placeholder="Search", aria-label="Search")
					button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
				if user
					li
						a(href='/users/logout') Logout
		main.container(role="main").mt-2
			!= messages()
			block content
		// /.container
		//
			Bootstrap core JavaScript
			==================================================
		// Placed at the end of the document so the pages load faster
		//- script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
		//- script.
		//- 	window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\\/script>')
		//- script(src="../../../../assets/js/vendor/popper.min.js")
		//- script(src="../../../../dist/js/bootstrap.min.js")
