extends layout

block content
    h2.page-header Login
    p Please login below
    form(method='post', action='/users/login', ecntype='multiplart/form-data')
        .form-group
            label(for='username') Username
            input.form-control(name='username', id='username', type='tesxt', placeholder='Enter Username')
        .form-group
            label(for='password') Password
            input.form-control(name='password', id='password', type='password', placeholder='Enter Password')
        input.btn.btn-primary(type='submit', name='submit', value='Login')
