extends layout

block content
    h2.page-header Register
    p Please register using the form below
    ul.errors
        if errors
            each error, i in errors
                div.alert.alert-danger #{error.msg}
    form(method='post', action='/users/register', ecntype='multiplart/form-data')
        .form-group
            label(for='name') Name
            input.form-control(name='name', id='name' type='text', placeholder='Enter Name')
        .form-group
            label(for='email') Email
            input.form-control(name='email', id='email' type='email', placeholder='Enter Email')
        .form-group
            label(for='username') Username
            input.form-control(name='username', id='username' type='text', placeholder='Enter Username')
        .form-group
            label(for='password') Password
            input.form-control(name='password', id='password' type='password', placeholder='Enter Password')
        .form-group
            label(for='password2') Confirm Password
            input.form-control(name='password2', id='password2', type='password', placeholder='Confirm Password')
        .form-group
            label(for='profileimage') Profile Image
            input.form-control(name='profileimage', id='profileimage', type='file')
        input.btn.btn-primary(type='submit', name='submit', value='Register')
