ul.success li {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

ul.error li {
    padding: 15px;
    margin-bottom: 20x;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a52e2c;
    background-color: #dfd2d6;
    border-color: #e6dbde;
}