doctype html
html
    head
        title Blog
        link(rel='stylesheet', href='../../stylesheets/blog/styles.css')
    body
        .container
            img.logo(src='http://www.vincenzo.net/isxkb/images/a/a9/Example.jpg')
            nav
                ul
                    li
                        a(href='/blog') Home
                    li
                        a(href='/blog/posts/add') Add Post
                    li
                        a(href='/blog/categories/add') Add Category
            block content
            footer
                p NodeBlog &copy; 2017